<h1 class='text-center mb-3'>{{title}}</h1>

<form action='/api/members' method='POST' class='mb-4'>
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" name='name' class='form-control' id='name' placeholder='Enter name' />
</form>
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" name='email' class='form-control' id='name' placeholder='Enter email' />
<input type=submit class='btn btn-primary btn-block' value='Add Member' />
</form>
<h4>Members: </h4>
<ul class='list-group'>
  {{#each members}}
    {{! The each helper iterates over the members array and renders the following block for each member: }}
    <li class='list-group-item'>{{this.name}}: {{this.email}}</li>
  {{/each}}

</ul>

<a href='/api/members' class='btn btn-primary mt-4'>Back</a>